<form action="/log-out" method="POST" class="adminpage-nav">
    <div class="nav-greeting">
        <img src="https://cdn.hugeicons.com/icons/manager-solid-rounded.svg" alt="manager" width="30" height="30">
        <h1> <%= username %> </h1>
        <h6>(admin)</h6>
    </div>
    <input class="logout-btn" type="submit" value="Log Out 👋">
</form>

<form action="/create-employee-from-admin" method="POST" class="adminpage-employee-create">
    <div class="adminpage-create">
        <img src="https://cdn.hugeicons.com/icons/user-solid-rounded.svg" alt="user" width="30" height="30">
        <input type="text" name="name" placeholder="Enter Name" required>
    </div>
    <div class="adminpage-create">
        <img src="https://cdn.hugeicons.com/icons/mail-at-sign-02-solid-rounded.svg" alt="mail-at-sign-02" width="30" height="30">
        <input  type="text" name="email" placeholder="Enter Email" required>
    </div>
    <div class="adminpage-create">
        <img src="https://cdn.hugeicons.com/icons/forgot-password-solid-rounded.svg" alt="forgot-password" width="30" height="30">
        <input  type="password" name="password" placeholder="Enter Password">
    </div>
    <div class="adminpage-create">
        <img src="https://cdn.hugeicons.com/icons/mentoring-solid-rounded.svg" alt="mentoring" width="30" height="30">
        <select name="role">
            <option selected disabled>Choose Role of Employee</option>
            <option value="admin">Admin</option>
            <option value="employee">Employee</option>
        </select>
    </div>
    <input class="submit-create" type="submit" value="Create Employee">
</form>