<div class="create-employee">
    <h1>Create Employee</h1>
    <form action="/create-employee" method="POST" class="home-form-create">
        <div class="input-div">
            <img src="https://cdn.hugeicons.com/icons/user-solid-rounded.svg" alt="user" width="28" height="28">
            <input class="create-user-input" type="text" name="name" placeholder="Enter Full Name" required>
        </div>
        <div class="input-div">
            <img src="https://cdn.hugeicons.com/icons/mail-at-sign-02-solid-rounded.svg" alt="mail-at-sign-02" width="28" height="28">
            <input class="create-user-input" type="text" name="email" placeholder="Enter Email" required>
        </div>
        <div class="input-div">
            <img src="https://cdn.hugeicons.com/icons/forgot-password-solid-rounded.svg" alt="forgot-password" width="28" height="28">
            <input class="create-user-input" type="password" name="password" placeholder="Enter Password">
        </div>
        <div class="input-div">
            <img src="https://cdn.hugeicons.com/icons/forgot-password-solid-rounded.svg" alt="forgot-password" width="28" height="28">
            <input class="create-user-input" type="password" name="confirm-password" placeholder="Re-type Password">
        </div>
        <div class="input-div">
            <img src="https://cdn.hugeicons.com/icons/anonymous-solid-rounded.svg" alt="anonymous" width="28" height="28">
            <input class="create-user-input" type="password" name="secret-code" placeholder="Enter Secret Code">
        </div>
        <input class="input-submit-btn" type="submit" value="Sign-Up">
        <div class="already-present">
            <a href="/login-employee">Already Have an account ? Sign In!</a>
        </div>
    </form>
</div>