<div class="login-employee">
    <h1>Login Employee</h1>
    <form action="/login-employee" method="POST" class="home-form-login">
        <div class="input-div">
            <img src="https://cdn.hugeicons.com/icons/mail-at-sign-02-solid-rounded.svg" alt="mail-at-sign-02" width="28" height="28">
            <input class="create-user-input" type="text" name="email" placeholder="Enter Email" required>
        </div>
        <div class="input-div">
            <img src="https://cdn.hugeicons.com/icons/forgot-password-solid-rounded.svg" alt="forgot-password" width="28" height="28">
            <input class="create-user-input" type="text" name="password" placeholder="Enter Password" required>
        </div>
        <input class="input-submit-btn" type="submit" value="Sign-In">
        <div class="already-present">
            <a href="/">Don't Have an account ? Sign Up!</a>
        </div>
    </form>
</div>