* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: white;
}

::-webkit-scrollbar {
    /* display: none; */
    width: 4px;
    background-color: rgba(245, 222, 179, 0.274);
}

::-webkit-scrollbar-thumb {
    /* display: none; */
    background-color: white;
    border-radius: 10px;
}

.hidden {
    display: none;
}

/* -------  LANDING PAGE CSS  --------- */
.create-employee {
    /* width: 30%; */
    width: 460px;
    margin: 0px auto;
    margin-top: 90px;
}
.create-employee h1 {
    text-align: center;
    font-weight: 400;
    font-size: 40px;
    margin-bottom: 20px;
}

.input-div {
    background-color: rgba(132, 132, 132, 0.46);
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 15px;
}
.input-div img {
    filter: invert(1);
    margin: 5px;
    margin-right: 10px;
}
.input-div input {
    font-size: 20px;
    background-color: transparent;
    outline: none;
    width: 80%;
}
.input-div input::placeholder {
    color: rgb(205, 205, 205);
}
.input-submit-btn {
    width: 100%;
    font-size: 25px;
    padding: 10px;
    background-color: rgba(167, 167, 167, 0.597);
    cursor: pointer;
    border-radius: 40px;
    margin: 10px 0;
}
.input-submit-btn:hover {
    transform: scale(1.03);
}

.already-present {
    /* background-color: wheat; */
    width: 100%;
    text-align: center;
}
.already-present a {
    font-style: italic;
    /* text-decoration: none;
    border-bottom: 2px dotted white; */
    text-decoration: underline dotted white; 
    text-underline-offset: 4px; 
}

/* ----------------  Below css for login page -------------- */
.login-employee {
    width: 460px;
    margin: 0px auto;
    margin-top: 200px;
}
.login-employee h1 {
    text-align: center;
    font-weight: 400;
    font-size: 40px;
    margin-bottom: 20px;
}


/* ----------------  Below css for admin page -------------- */
.adminpage-nav {
    background-color: rgba(24, 0, 0, 0.658);
    padding: 5px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.nav-greeting {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.nav-greeting img {
    filter: invert(1);
    margin-right: 10px;
}
.nav-greeting h1 {
    font-size: 30px;
    font-weight: 500;
}
.nav-greeting h6 {
    margin-top: 10px;
    margin-left: 5px;
}
.logout-btn {
    background-color: rgba(167, 167, 167, 0.597);
    font-size: 22px;
    padding: 5px 20px;
    font-weight: 500;
    margin-right: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.adminpage-employee-create {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* background-color: rgba(59, 59, 59, 0.742); */
    padding: 10px;
    margin-top: 10px;
}
.adminpage-create {
    display: flex;
    align-items: center;
    background-color: rgba(75, 75, 75, 0.597);
    padding: 5px 10px;
    border-radius: 10px;
    /* border: 2px dotted white; */
}
.adminpage-create input {
    background-color: transparent;
    font-size: 18px;
    padding: 5px 10px;
    outline: none;
}
.adminpage-create input::placeholder {
    color: white;
}
.adminpage-create select {
    background-color: transparent;
    font-size: 18px;
    outline: none;
}
.adminpage-create option {
    background-color: rgb(0, 0, 0);
    color: white;
}
.adminpage-create img {
    filter: invert(1)
}
.submit-create {
    background-color: rgba(167, 167, 167, 0.597);
    font-size: 18px;
    padding: 0 15px;
    border-radius: 10px;
    font-weight: 500;
    cursor: pointer;
}
.submit-create:hover {
    transform: scale(1.03);
}

.employee-list-and-edit {
    width: 100vw;
    height: 81vh;
    /* background-color: rgba(70, 70, 70, 0.655); */
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.employee-list {
    width: 58%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.493);
    border-left: 3px solid white;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    border-radius: 10px;
    display: flex;
    gap: 22px;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    padding: 20px;
    overflow: scroll;
    overflow-x: hidden;
}
.edit-plus-ratings {
    width: 41%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.493);
    border-top: 3px solid white;
    border-left: 3px solid white;
    border-bottom: 3px solid white;
    border-radius: 10px;
    padding: 15px;
    overflow: scroll;
    overflow-x: hidden;
}
.employee-details {
    background-color: rgba(71, 71, 71, 0.597);
    width: 31%;
    border: 2px solid white;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.employee-details img {
    filter: invert(1);
    margin-top: 5px;
    margin-bottom: 15px;
}
.employee-details input {
    margin: 5px;
    background-color: rgba(0, 0, 0, 0.558);
    font-size: 18px;
    padding: 5px;
    width: 90%;
    border-radius: 15px;
    border: 2px solid white;
    cursor: pointer;
}
.employee-details button {
    margin: 5px;
    background-color: rgba(0, 0, 0, 0.558);
    font-size: 18px;
    padding: 5px;
    width: 90%;
    border-radius: 15px;
    color: red;
    border: 2px solid red;
}
.employee-details input:hover {
    transform: scale(1.04);
}

.Admin {
    color: rgb(255, 51, 0);
    text-transform: uppercase;
}
.employee {
    color: white;
}

.edit-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.edit-details-inside {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.edit-details h2 {
    text-align: center;
}
.edit-details-inside select {
    background-color: rgba(75, 75, 75, 0.597);
    outline: none;
    font-size: 16px;
    padding: 7px 10px;
    border-radius: 10px;
}
.edit-details-inside option {
    background-color: black;
    outline: none;
}

.edit-details input {
    background-color: rgba(167, 167, 167, 0.597);
    padding: 5px 10px;
    font-size: 18px;
    border-radius: 10px;
}
.edit-details input:hover {
    transform: scale(1.02);
}
.edit-details-inside input {
    font-size: 16px;
    background-color: rgba(75, 75, 75, 0.597);
    outline: none;
    padding: 7px 10px;
    width: 50%;
}
.review-section {
    margin-top: 40px;
}
.review-section h2, h3 {
    text-align: center;
}

.assign-review {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    gap: 10px;
    margin-top: 10px;
}
.assign-review select {
    background-color: rgba(75, 75, 75, 0.597);
    font-size: 18px;
    padding: 10px 15px;
    font-weight: 500;
    border-radius: 10px;
    width: 100%;
    outline: none;
}
.assign-review option {
    background-color: black;
}
.assign-review  input {
    background-color: rgba(167, 167, 167, 0.597);
    padding: 5px 10px;
    font-size: 18px;
    border-radius: 10px;
    width: 100%;
}
.assign-review input:hover {
    transform: scale(1.02);
}

.past-ratings {
    display: flex;
    flex-direction: column;
}
.employee-review {
    border: 2px dotted rgb(255, 255, 255);
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(77, 77, 77, 0.675);
}